{
  "presets": [
    ["env", {
      "targets": {
        "node": true,
        "browsers": ["last 2 versions"]
      }
    }],
    "es2015",
    "flow"
  ],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ]
}